<div class="container">
    <div class="row">
      <div class="col-md-6">   

        <img src="./assets/img/himnoyana.jpg" class="img-fluid" alt="Imagen del Himno de Yanatile">
      </div>
      <div class="col-md-6 text-center">
        <h2>Himno del Distrito de Yanatile</h2>
        <p>I</p>
        <p>
            Yanatileños, somos vencedores,<br>
            luchando por nuestro pueblo y la unidad,<br> 
            varones y mujeres son héroes de este valle,<br>
            junto a los antis y arrieros, unidos e indómitos<br>
            victoriosos quedaron con sus tierras,<br>
            y desde allí nacieron nuestras luchas;<br>
            siendo el pueblo nuestro precursor,<br>
            la sociedad dio el paso hacia adelante.</p>
            CORO
           <p> Yanatile, Yanatile, por el progreso y grandeza,<br>
            con justicia y con dignidad,<br> 
            hacia el desarrollo y unidad,<br>
            con honor y libertad.</p>
            II
            <p>Lacco Yavero, Megantoni, amazonias,<br>
            con tu reserva y tu gran bastión,<br>
            Santiago, Putucusi, Lacco y Chancamayo,<br>
            son esos pueblos intangibles, de tu integridad,<br>
            son tu historia, tu música y tus danzas,<br> 
            que con identidad bailan tus hijos,<br> 
            Coca Raymi gran fiesta tradicional,<br>
            Que con orgullo tu pueblo la celebra</p>
            
            III
            <p>Yanatile, Distrito de gran diversidad,<br>
            Valle de Frutos y gran de riqueza,<br>
            en tu diversidad, se forja nuestro progreso,<br> 
            que, junto a tus hombres, tus hombres de trabajo,<br>
            se levanta un Perú más rico,<br>
            tu gran rio marca tus fronteras,<br>
            tu grandeza es tu vegetación<br>
            que es la vida y pulmón del mundo<br>
          </p>
      </div>
    </div>
  </div>