<div class="container my-5">
    <div class="text-center">
        <h2 class="mission-title d-inline">CONSEJO MUNICIPAL</h2>
    </div>
    <p class="mission-text mt-4">
        "Brindar servicios de calidad con transparencia y tecnología en beneficio del ciudadano, logrando el desarrollo integral y sostenible de nuestro distrito, basado en su potencial agropecuario, para el logro de una mejor calidad de vida para su población; a través de una gestión participativa e innovadora
    </p>
    <div class="text-center">
        <img src="./assets/img/viyana.jpg" alt="Descripción de la imagen" class="mission-image img-fluid">
    </div>
</div>