<div class="container-fluid bg-image">
        <div class="row align-items-center vh-100">
            <div class="col text-center">
                <h1 class="display-1">Noticias</h1>
                <p class="lead">Home / Noticias</p>
            </div>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">   
            <p>
                "A convocatoria del presidente del CODISEC, Wilian Huallpa Quispe, se realizó la primera sesión ordinaria de comité distrital de seguridad ciudadana CODISEC Yanatile, con la finalidad de socializar la matriz de actividades del plan de acción de seguridad ciudadana 2024 – 2027, la cual, tiene 05 objetivos estratégicos y 17 líneas de acción con diferentes actividades y acciones preventivas en beneficio de la población.
                En la presente reunión, se realizó el cronograma de sesiones ordinarias a realizarse durante el presente año, habiéndose elaborado el directorio de los integrantes del CODISEC; Asimismo, se llevó el acto protocolar de juramentación, donde se incorporaron 02 miembros que recientemente asumieron su cargo, teniendo como representantes al gerente del Centro de Salud de Quebrada Honda, Méd. Marcelo Molina Poblete y al alcalde del Centro Poblado de Putucusi, Sr. Saturnino Cjuiro Choqueconza, quienes juramentaron para la integración de acciones.
                Por otra parte, se aprovechó el momento oportuno para la instalación y juramentación del Comité Distrital de Salud, presidido por la primera autoridad edil y demás miembros, quienes gestionarán, supervisarán y monitorearán el cumplimiento del plan multisectorial de la lucha contra la anemia y contribuirán al fortalecimiento de los actores sociales involucrados por velar por la salud de los niños y niñas del Distrito de Yanatile.
                El propósito será reducir los altos índices de la anemia y desnutrición en menores de edad, además de combatir contra el dengue y por la mejora de la calidad de vida de la población Yanatileña.
                Yanatile, 22 de febrero del 2024.
            </p>
            <p>
                "En las largas conversaciones que tuve con Pamela López me lo contó, pero recién ahora me mostró los pantallazos del Instagram de Cueva que ella pudo capturar y guardar", dijo Magaly a Trome. "Lo que leí es indiscutible, eso no es un 'jugueteo' cualquiera. Es una conversación entre personas que tendrían una íntima confianza", agregó.
            </p>
            <p>
                Además, la comunicadora aclaró que las conversaciones no solo incluyen la conocida frase "esa cosita es mía", sino que van mucho más allá en tono.
            </p>
                <p>
                    "En las largas conversaciones que tuve con Pamela López me lo contó, pero recién ahora me mostró los pantallazos del Instagram de Cueva que ella pudo capturar y guardar", dijo Magaly a Trome. "Lo que leí es indiscutible, eso no es un 'jugueteo' cualquiera. Es una conversación entre personas que tendrían una íntima confianza", agregó.
                </p>
                <p>
                    Además, la comunicadora aclaró que las conversaciones no solo incluyen la conocida frase "esa cosita es mía", sino que van mucho más allá en tono.
                </p>
        </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Fiscalía investiga pensión vitalicia otorgada a Alberto Fujimori</h5>
                        <p class="card-text">Estos serían los posibles delitos y penas.</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Movimientos regionales en riesgo de desaparecer</h5>
                        <p class="card-text">¿Qué bancadas en el Congreso votarán a favor de esta...</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Fiscalía investiga pensión vitalicia otorgada a Alberto Fujimori</h5>
                        <p class="card-text">Estos serían los posibles delitos y penas.</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Movimientos regionales en riesgo de desaparecer</h5>
                        <p class="card-text">¿Qué bancadas en el Congreso votarán a favor de esta...</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Fiscalía investiga pensión vitalicia otorgada a Alberto Fujimori</h5>
                        <p class="card-text">Estos serían los posibles delitos y penas.</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Movimientos regionales en riesgo de desaparecer</h5>
                        <p class="card-text">¿Qué bancadas en el Congreso votarán a favor de esta...</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
        </div>
    </div>