html, body {
    height: 100%;
    margin: 0;
    background-color: #1c1c1c; /* Fondo oscuro */
    font-family: 'Arial', sans-serif;
}

#date {
    font-size: 24px;
    color: #ccc; /* Color gris claro para la fecha */
}

#time {
    font-size: 120px; /* Tamaño grande para la hora */
    color: #f0f0f0; /* Color blanco para la hora */
    letter-spacing: 5px; /* Espaciado entre caracteres */
}

