
<div class="container">
    <div class="row">
      <div class="col-md-4">   
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5 class="card-title">Colca</h5>
            <p class="card-text">Centro Poblado del Distrito de Yanatile</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5 class="card-title">Lacco Ccorimayo</h5>
            <p class="card-text">Centro Poblado del Distrito de Yanatile</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5 class="card-title">Penetración</h5>
            <p class="card-text">Centro Poblado del Distrito de Yanatile</p>
          </div>
        </div>
      </div>
    </div>
  </div>
