<div class="container">   

    <h1>Aniversario de Yanatile</h1>
    <p>Este año se celebró los 42 años de creación política del distrito perteneciente a la Provincia de Calca - Departamento del Cusco.</p>

    <h2>Actividades</h2>
    <ul>
        <li>Motociclismo</li>
        <li>Carrera de Autos</li>
        <li>Concurso de danzas</li>
        <li>Concurso de poesía y canto</li>
        <li>Feria agropecuaria, agroindustrial, artesanal y gastronómica</li>
        <li>Concurso de Miss Yanatile</li>
    </ul>

    <h2>Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="./assets/img/team-2.jpg" alt="Imagen 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="./assets/img/team-1.jpg" alt="Imagen 2" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="./assets/img/team-2.jpg" alt="Imagen 3" class="img-fluid">
        </div>
    </div>

    
    <h1>1.Coca Raymi</h1>
    <p>Este año se celebró los 42 años de creación política del distrito perteneciente a la Provincia de Calca - Departamento del Cusco.</p>

    <h2>Actividades</h2>
    <ul>
        <li>Es una escenificacion donde las mujeres de la jurisdicción presentan platos, postres y bebidas preparados con productos de la zona, sobre todo de la “Hoja Sagrada de los Inkas”, en el concurso gastronómico que fue otra importante actividad del Coca Raymi.</li>
        <li>El momento más emocionante fue la escenificación del Kokapallay, encabezada por los karguyoq de la base Arenal, realizada en uno de los jardines inclinados de la plaza que, precisamente, está llena de plantas de coca.</li>
        <li>Las autoridades y dirigentes varones concursaron barbechando los surcos, en tanto que las mujeres recogían las hojas; todo ello en medio de los vítores y aplausos del público.</li>
        <li>Mientras el jurado evaluaba los potajes en concurso, en el centro de la plaza y bajo y sofocante sol se inició la escenificación inka del Coca Raymi con el ingreso de los jóvenes kokapallaq, representados los jóvenes del lugar, al compás de la música que resonaba en todo el pueblo.</li>
        <li>El inca, personificado , ingresa en su anda y luego ascendió al usnu que fue levantado sobre la pileta, presidiendo la ceremonia, cuyos actos más resaltantes fueron las ofrendas de chicha, fuego y agua; y finalmente, el tributo a las hojas de coca.</li>
    </ul>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="./assets/img/team-2.jpg" alt="Imagen 1" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="./assets/img/team-1.jpg" alt="Imagen 2" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="./assets/img/team-2.jpg" alt="Imagen 3" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="./assets/img/team-1.jpg" alt="Imagen 4" class="img-fluid">
        </div>
    </div>
</div>
