<div class="text-center p-3">
    <h1 class="display-3 text-secondary">HISTORIA DEL DISTRITO DE YANATILE</h1>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <H3><P>Ley de creación del Distrito de Yanatile</P></H3>
El 18 de mayo de 1982, por ley N.º 23383 se crea el Distrito de Yanatile en la provincia de Calca departamento del Cusco, la misma que es publicada en el diario oficial El Peruano el 20 de mayo de 1982 que literalmente señala lo siguiente: LEY Nº 23383 el Congreso de la República Ha dado la Ley siguiente
        
<br>Artículo 1º Créase el Distrito de Yanatile, en la Provincia de Calca, del Departamento del Cusco, cuya Capital será el Centro Poblado de Quebrada Honda, que se eleva a la Categoría de Pueblo.
<br>Artículo 2º El Distrito de Yanatile estará constituido por los Centros Poblados de Quebrada Honda, Colca Yanatile, Putucusi, Santiago Chancamayo, Lacco, yavero, Chaquimayo y Chunchusmayo.
<br>Artículo 3º Los Límites del Distrito de Yanatile, serán los siguientes:
<br>Por el Norte: El Distrito de Echarate, de la Provincia de la Convención. Por el Oeste y Este: Los Contrafuertes de la Cordillera Central, sus Límites con la Provincia de Urubamba y el río Paucartambo. Por el Sur: El paralelo de la confluencia de los ríos Lares y Amparaes. Comuníquese al presidente de la república para su promulgación(..) Casa del congreso, en Lima a los dieciocho días del mes de mayo de mil novecientos ochenta y dos(…) Por tanto Mando se publique y cumpla Dado en la casa de gobierno, en Lima a los dieciocho días del mes de mayo de mil novecientos ochenta y dos.
</div>
        <div class="col-md-6">
          <img src="./assets/img/statuaparque.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
  </div>

  <div class="container my-5">
    <P>
        Por el Norte: El Distrito de Echarate, de la Provincia de la Convención. Por el Oeste y Este: Los Contrafuertes de la Cordillera Central, sus Límites con la Provincia de Urubamba y el río Paucartambo. Por el Sur: El paralelo de la confluencia de los ríos Lares y Amparaes. Comuníquese al presidente de la república para su promulgación(..) Casa del congreso, en Lima a los dieciocho días del mes de mayo de mil novecientos ochenta y dos(…) Por tanto Mando se publique y cumpla Dado en la casa de gobierno, en Lima a los dieciocho días del mes de mayo de mil novecientos ochenta y dos.
</P>
  </div>


  <div class="container economia-section">
    <h2 class="text-success">UBICACIÓN GEOGRÁFICA</h2>
    <div class="line"></div>

  <div class="container">
    <div class="row">
        <!-- Columna para el texto -->
        <div class="col-md-4 left-content">
            <h2></h2>
            <ul>
                <li><strong>Distrito:</strong> Yanatile</li>
                <li><strong>Provincia:</strong> Calca</li>
                <li><strong>Región:</strong> Cusco</li>
                <li><strong>Ubigeo:</strong> 080408</li>
                <li><strong>Latitud Sur:</strong> 12° 42' 43.6" S (-12.71211728000)</li>
                <li><strong>Longitud Oeste:</strong> 72° 13' 22.6" W (-72.22293601000)</li>
                <li><strong>Altitud:</strong> 1234 m s. n. m.</li>
            </ul>
        </div>
        <!-- Columna para la imagen -->
        <div class="col-md-8 right-content">
            <img src="./assets/img/statuaparque.jpg" alt="Ubicación Geográfica">
        </div>
    </div>
</div>
<div class="container economia-section">
    <h2 class="text-success">ECONOMÍA</h2>
    <div class="line"></div>
    <p>
        Sus actividades económicas principales son la agricultura (principales productos: café, cítricos y coca; y el comercio, siendo Quebrada Honda el eje de interconexión comercial. Actualmente, la política de gestión municipal viene incidiendo en la agricultura orgánica intensiva, generando más vías de comunicación, mejorando la calidad educativa, promoviendo y fortaleciendo la equidad de género y la participación de la sociedad civil en la toma de decisiones, desarrollando los servicios de saneamiento básico ambiental integral y el desarrollo de capacidades. Así mismo se llevan sendos encuentros, foros, congresos, reuniones, firmas de acuerdos, seminarios, en la capital del Distrito, con participación de sus conciudadanos del ámbito urbano y rural.
    </p>
</div>
<div class="container economia-section">
    <h2 class="text-success">GEOGRAFIA</h2>
    <div class="line"></div>
    <p>
        El distrito está ubicado en la zona de ceja de selva y comprende los valles de los ríos Yanatile y Mapacho, de Lacco y Yavero. La capital es el poblado de Quebrada Honda, situado a 1,357 m s. n. m.<br>

        Políticamente pertenece a la Provincia de Calca, Departamento del Cusco, entre las coordenadas geográficas, latitud: 12 16’ 39” latitud sur, y longitud 71 54’ 23” de longitud oeste, ubicándose en la zona noreste del departamento del Cusco, teniendo una extensión territorial de 3,693.84 km², siendo el distrito más extenso de la provincia de Calca, ocupando el 70,73% del territorio provincial, su capital es el poblado de Quebrada Honda, a una altitud de 1,124 m s. n. m., teniendo como Municipalidades de Centros Poblados Menores a Colca, Santiago, Chancamayo y Putucusi en la cuenca del Yanatile, y en la cuenca del Mapacho a Ccorimayo (Lacco – Primera Zona), San Martín y Penetración (comprendiendo los sectores de Tupac Amaru, Estrella, Carmen Alto, Nueva Luz, Huillcapampa y Yoyato), en los últimos años se ha convertido en el distrito más próspero de la provincia de Calca.
    </p>
</div>
