<div class="container my-5">
    <h1 class="text-center">ALCALDE DEL DISTRITO DE YANATILE 2023-2026</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center p-3" style="max-width: 900px;">
              <h1 class="text-primary">WILIAN HUALLPA QUISPE<p>ALCALDE DE LA MUNICIPALIDAD DISTRITAL DE YANATILE</p></h1>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/AlcaldeMDY.png" alt="Image" class="img-fluid">
        </div>
    </div>
  </div>
  <app-regidores></app-regidores>
