<div class="container my-5">
  <div class="row">
      <div class="col-md-6">
        <p>Les da la más cordial bienvenida a nuestro portal web institucional 2023-2026 con la intensión de ofrecerles un portal de información y comunicación permanente, para dar a conocer con transparencia, cada una de las obras, proyectos y actividades en las que venimos trabajando juntos con el firme propósito de lograr el desarrollo y avance de nuestro distrito. Esta gestión ha iniciado el Cambio y Acciones, emprendiendo el camino de la modernidad y sostenibilidad de su crecimiento, apoyándose en los ejes estratégicos: obras públicas y de mantenimiento, desarrollo humano y proyección social, desarrollo productivo, participación vecinal y servicios a la comunidad con preservación del medio ambiente.
            La gestión del Pueblo, siempre unidos lograremos el desarrollo del distrito hermanos.</p>
          <div class="text-center p-3" style="max-width: 900px;">
            <h1 class="display-3 text-secondary mb-md-4">WILIAN HUALLPA<p>ALCALDE</p></h1>
            <h4 class="text-secondary text-uppercase mb-md-3">¡Un Gobierno del Pueblo...!<p>Gestión 2023-2026</p></h4>
            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">VER MÁS</a>
            
        </div>
      </div>
      <div class="col-md-6">
        <img src="./assets/img/AlcaldeMDY.png" alt="Image" class="img-fluid rounded-circle">
      </div>
  </div>
</div>

<div class="text-center">
  <h1 class="mb-3">CONSEJO MUNICIPAL</h1>
  <h2 class="section-title text-center y-3">Regidores</h2>
</div>

<div class="container-fluid center">
    <div class="row">
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg" class="img-fluid rounded-circle" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-2.jpg" class="img-fluid rounded-circle" alt="Imagen 2">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg"  class="img-fluid rounded-circle" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
    </div>
    <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-2.jpg" class="img-fluid rounded-circle" alt="Imagen 2">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg" class="img-fluid rounded-circle" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
    </div>
</div>