<div class="container">
  <div class="row">
      <div class="col-md-6">
        <p>Les da la más cordial bienvenida a nuestro portal web institucional 2023-2026 con la intensión de ofrecerles un portal de información y comunicación permanente, para dar a conocer con transparencia, cada una de las obras, proyectos y actividades en las que venimos trabajando juntos con el firme propósito de lograr el desarrollo y avance de nuestro distrito. Esta gestión ha iniciado el Cambio y Acciones, emprendiendo el camino de la modernidad y sostenibilidad de su crecimiento, apoyándose en los ejes estratégicos: obras públicas y de mantenimiento, desarrollo humano y proyección social, desarrollo productivo, participación vecinal y servicios a la comunidad con preservación del medio ambiente.
            La gestión del Pueblo, siempre unidos lograremos el desarrollo del distrito hermanos.</p>
        
            <div class="container-center">
                <h1>WILIAN HUALLPA</h1>
                <h2>ALCALDE</h2>
                <p>¡Un Gobierno del Pueblo...!</p>
                <p class="gestion">Gestión 2023-2026</p>
            </div>
            <div class="col text-center">
          <button class="btn btn-primary">VER MÁS</button>
        </div>
      </div>
    <div class="col-md-6 text-right">
        <img src="./assets/img/AlcaldeMDY.png" alt="Image" class="img-fluid">
    </div>
  </div>
</div>

<div class="container">
    <h1>CONSEJO MUNICIPAL</h1> 
    <h5>Regidores</h5>
</div>

<div class="container-fluid center">
    <div class="row">
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg" class="img-fluid" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-2.jpg" class="img-fluid" alt="Imagen 2">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg" class="img-fluid" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
    </div>
    <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-2.jpg" class="img-fluid" alt="Imagen 2">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
      <div class="col-md-2 mx-auto">
        <img src="./assets/img/team-1.jpg" class="img-fluid" alt="Imagen 1">
        <h5 class="mb-0">John Doe</h5>
        <p>New York, USA</p>
        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
      </div>
    </div>
</div>