<!-- Footer Start -->
<div class="container-fluid bg-success text-white py-5 px-sm-3 px-lg-5">
    <div class="row pt-5">
        <div class="col-lg-6 col-md-6 mb-5 text-center">
            <a href="" class="navbar-brand">
                <h1 class="display-3 text-white mb-md-4"><span class="text-dark">YANA</span>TILE</h1>
            </a>
            <p>Un gobierno del pueblo <h4 class="text-white">GESTION 2023-2026</h4>
        </div>
        <div class="col-lg-6 col-md-6 mb-5 text-center">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">MUNICIPALIDAD YANATILE</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Plaza de Armas S/N, Quebrada Honda</p>
            <p><i class="fa fa-envelope mr-2"></i>alcaldia.gob.pe</p>
            <p><i class=""></i>Horario de atención:</p>
            <p><i class="fa fa-phone-alt mr-2"></i>Lunes – Viernes 07.30 am – 5.30 pm</p>
        </div>
    </div>
</div>